<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <section>
    <h1>Movie Watchlist!</h1>
        <form action="/addMovie" method="POST">
            <input type="text" placeholder="Movie Name" name="movieName">
            <input type="number" placeholder="How Important?" min="0" max="5" name="importance">
            <!-- <input type="checkbox" name="checkbox" id=""> -->
            <input type="submit">
        </form>
    <ul class="movies">
        <% for (let i=0; i < info.length; i++){%>
            <li class="movie">
                <span class="name"><%= info[i].movieName %></span> 
                <span class="rating">:   Rating - <%= info[i].importance %></span>
                <input type="checkbox" id="checkbox" name ="checkbox"><%= info[i].checkbox %>
                <span class="del">Delete</span>
            </li>
            <% } %>
    </ul>
     </section>

</body>
    <script type="text/javascript" src="public/js/main.js"></script>
</body>
</html>